.productoContenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 150px;
}

.producto{
    margin-top: 500px;
}

.addToCart{
    display: flex;
    flex-direction: column;
}

.buttonDetail {
    color: #fff!important;
    background-color: #484848!important;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin: 15px 0px;
    font-size: 20px;
}

@media (min-width: 1024px){
    .producto{
        margin-top: 300px;
    }
    .imagenProducto{
        height: 800px;
    }
}