.itemCount{
    display: flex;
    width: 100%;
    align-items: center;
}

.count{
    border: 2px solid black;
    padding: 24px;
}

.btn-vertical{
    display: flex;
    flex-direction: column
}



.button{
    color: #fff!important;
    background-color: #484848!important;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin: 15px 0px;
    width: fit-content;
}

.itemCount p{
    display: flex;
    align-items: center;
}

.btn-count{
    color: #484848 !important;
    background-color: #fff !important;
    width: 50px;
    margin: 0 !important;
    border: 1px solid gray;
}

.btn-b{
    border-bottom: none;
}