.homeContainer {
    padding-top: 100px;
}

.carousel {
    padding: 50px !important;
}

.productContainer {

}

.productContainer h1{
    text-align: center;
}

.brandContainer{

}

.brandContainer h1{
    text-align: center;
}