.header{
    display: flex;
    background-color: rgb(105, 146, 44);
    color: aliceblue;
    padding: 15px;
    align-items: center;
}
.header h1{
    margin: 0;
}

.navbar ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: 0;
}

.navbar ul li{
    font-size: 25px;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
}

.dropdown-item{
    color: black !important;
}